<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">

    <meta name="viewport">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="/index.css" rel="stylesheet" />
    <title>3D Cone</title>

    </script>
    <!--<script type="module" src="/src"></script>-->
    <style>
        .search {
            display: flex;
            flex-wrap: wrap;
            background: white url(/img/Group.png)no-repeat 24px center;
            background-size: 20px, 18px;
            top: -3px;
            padding: 0px 0px 0px 64px;
            border-radius: 32px;
            vertical-align: bottom;
            width: 496px;
            height: 56px;
            border: 1px solid #E0E3EB;
            margin-bottom: 32px;
        }

        h2 {
            color: rgb(60, 60, 60);
        }

        .textbox {
            border: 0;
            font-size: 20px;
            outline: none;
            height: 56px;
            top: 50px;
            margin-top: 5px;
            width: 306px;
            background-color: transparent;
        }

        .textarea {
            width: 100%;
        }

        .inp {
            margin-right: 30px;
        }

        .checkbox {
            margin-top: 10px;
        }

        .date_input {
            display: flex;
            justify-content: space-between;
            max-width: 290px;
        }

        .date_input p {
            width: 150px
        }

        .fieldset {
            display: inline-block;
            vertical-align: top;
            margin-bottom: -40px;
        }

        .text-field__label {
            position: relative;
            color: #888B97;
            font-size: 14px;
            pointer-events: none;
            left: 0px;
            right: 15px;
            top: -47px;
            white-space: nowrap;
            overflow: hidden;
            line-height: 40px;
            transition: .3s;
        }

        .textbox:focus~.text-field__label,
        .textbox:not(:focus):valid~.text-field__label {
            top: -67px;
            font-size: 10px;
        }

        .textbox:focus~.text-field-label,
        .textbox:not(:focus):valid~.text-field-label {
            top: -67px;
            font-size: 10px;
        }

        label {
            color: #000000;
            text-decoration: none;
            padding-top: 40px;
        }

        .container {
            background-color: rgb(239, 239, 239);
            min-width: 400px;
        }

        canvas {
            border: 2px dotted blue;
        }

        .ninety {
            width: 95%;
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>