<div class="fixed-action-btn">
    <a class="btn-floating green" href="/">
        <i class="large material-icons">На главную</i>
    </a>

</div>

    <script>
        div.addEventListener('DOMContentLoaded', function () {
            var elems = div.querySelectorAll('.large material-icons');
            var instances = M.FloatingActionButton.init(elems, {
                direction: 'left'
            });
        });
    </script>
