{{> head}}
<body>

    <div class="row">
        {{#if isMain}}

        <div class='container'>
            {{{body}}}
        </div>
        {{else}}
        <div class='container col s8 offset-s2'>
            {{{body}}}
        </div>
        {{/if}}
    </div>
</body>
</html>