<body>


    <div class="center-align">
        <h4>Резервное копирование</h4>

        {{#if user.isOperator}}
        <a class="btn" id="backup_create">Создать резервную копию</a>
        <a class="btn" id="restore">Восстановление из последней резервной копии</a>

        {{/if}}
    </div>
    <script src="/javascripts/backup.js"></script>
    {{> tomain}}

</body>
