<h1>Справочник</h1>


<div class="row">
    
    
        <a class="btn" href="/req-list ">  
            Сотрудники </a>
        <a class="btn" href="/create-req"> 
            Объекты контроля</a>
        <a class="btn" href="/req-list">   
            Испытания  </a>
        <a class="btn" href="/req-list">   
        Объекты + испытания </a>
        

    
        <a class="btn" href="/create-req">Цеха</a>
        <a class="btn" href="/req-list">Специальности</a>
        <a class="btn" href="/req-list">Специализация сотрудников</a>
    
</div>







<div>{{connect 'departments'}}</div>
{{> tomain}}