<h2>Новая заявка</h2>
<div class="container">
    <ul>
        <li>
            Код департамента или цеха:>  <input id="icon_telephone" type="tel" class="validate">
        </li>
        <li>
            Выполнить до:    <input type="text" class="datepicker">
        </li>
        
        <li><br>
            <label>
                <input type="checkbox" />
                <span>Требуется выдача заключения</span>
            </label>
        </li>
    </ul>
       
    
    </div>
<div class="col s6"></div>



{{> tomain}}