<body>

    {{{body}}}
    <h2>ЛНК</h2>
    <a class="btn" href="/create-req">Новая заявка</a>
    <a class="btn" href="/req-list">Список заявок</a>
    <a class="btn" href="/req-list">Справочник</a>
    <div>{{getTime}}</div>
    <p class="flow-text">I am Flow Text аываыв</p>
</body>