<body>

    {{{body}}}
    <form action="/login" class="fixed-action-btn">
        <p>
            Выполнен вход, {{user.user_name}}
        </p>
        <button class="waves-effect waves-teal btn-flat" href="/login">
            Выйти
        </button>
    </form>
    <div class="center-align">
        <h2>ЛНК</h2>
        {{#if user.isDeclarant}}
        <a class="btn" href="/create-req">Новая заявка</a>
        {{/if}}
        {{#unless user.isExecutor}}
        <a class="btn" href="/req-list ">Список заявок</a>
        {{/unless}}
        <a class="btn" href="/test-list">Испытания</a>
        <a class="btn" href="/catalog">Справочник</a>
        {{#if user.isOperator}}
        <a class="btn" href="/backup">Администрирование</a>
        <p class="upper">Отчет по исполнителям:</p>
        <form class="search" id="worker_report">
            <div class="fieldset">
                <input type="text" id="worker_report_inp" class="serch_textbox" required>
                <button type="submit" class="search_button btn" id="executorReport">Скачать</button>
                <label class="text-field__label">ID исполнителя</label>
            </div>
        </form>
        <p>Отчет по объектам:</p>
        <form class="search" id="obj_report">
            <div class="fieldset">
                <input type="text" id="obj_report_inp" class="serch_textbox" required>
                <button type="submit" class="search_button btn" href="/report/staff">Скачать</button>
                <label class="text-field__label">Код объекта</label>
            </div>
        </form>
        {{/if}}
    </div>


<script src="/javascripts/report.js"></script>
</body>

<script>
    function exit(request, response, next) {
        response.statusCode = 401;
        response.setHeader('WWW-Authenticate', 'NTLM'); response.end();
    }
</script>
<script>

    function deleteAllCookies() {
        const cookies = document.cookie.split(";");

        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i];
            const eqPos = cookie.indexOf("=");
            const name = eqPos > -1 ? cookie.substring(0, eqPos) : cookie;
            document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";

        } alert('clear')
    }
</script>
