<body>

    {{{body}}}
    <div class="fixed-action-btn">
        <p>
            Выполнен вход, пользователь ID={{ntlm.UserName}}_____{{ntlm.Workstation}}
        </p>
        <button class="waves-effect waves-teal btn-flat" onclick='exit()'>
            Выйти
        </button>
    </div>
    <div class="center-align">
        <h2>ЛНК</h2>
        <a class="btn" href="/req-list ">Список заявок</a>
        <a class="btn" href="/create-req">Новая заявка</a>
        <a class="btn" href="/catalog">Справочник</a>
        <a class="btn" href="/test-list">Испытания</a>
        <p>Отчет по исполнителям:</p>
        <form class="search">
            <div class="fieldset">
                <input type="text" name="worker_report" class="serch_textbox" required>
                <button type="submit" class="search_button btn" href="/report_worker">Скачать</button>
                <label class="text-field__label">ID исполнителя</label>
            </div>
        </form>
        <p>Отчет по объектам:</p>
        <form class="search">
            <div class="fieldset">
                <input type="text" name="obj_report" class="serch_textbox" required>
                <button type="submit" class="search_button btn" href="/report_obj">Скачать</button>
                <label class="text-field__label">Код объекта</label>
            </div>
        </form>
        <div>
            {{message}}
</div>

    </div>


        
</body>
<script>
    function exit(request, response, next) {
        response.statusCode = 401;
        response.setHeader('WWW-Authenticate', 'NTLM'); response.end();
    }
</script>

    <script>
        import { resp } from "./partials/scr.js";
    </script>
