<body>

    {{{body}}}
    <div class="row">

        <div class='container'>
            <a id="refresh">
                <h2>Конус в 3D</h2>
            </a>
            <form id="searchForm" class="container ninety">
                <div class="fieldset">
                    <input id="num_input" type="text" class="textbox" required>
                    <label class="text-field__label" for="search">Радиус основания</label>
                </div>
                <div class="fieldset">
                    <input id="num_input" type="text" class="textbox" required>
                    <label class="text-field__label" for="search">Высота</label>
                </div>
                <div class="fieldset">
                    <input id="num_input" type="text" class="textbox" required>
                    <label class="text-field__label" for="search">Количество сегментов</label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="requires_processing">
                        <span>Гладкий конус</span>
                    </label>
                </div>

                <button class="btn large" id="search">Сгенерировать</button>
            </form>

            <p>Найдено заявок: <strong id="amount_of_record"></strong></p>

            <div id="WebGL-output">
            </div>
            <!--Javascript code that runs our Three.js examples -->

        </div>
    </div>

    </form>


    <script src="/javascripts/script.js"></script>
</body>