<body>



    
    <form id="loginForm" class="center-align">
       
    <h1>Вход</h1>
        <div class="fieldset center-align">
            <input for="username" id="worker_id" type="text" class="textbox" required>
            <label class="text-field__label">Логин</label>
        </div>


        <div class="fieldset">
            <input id="password" type="password" class="textbox" required>
            <label class="text-field__label">Пароль</label>
        </div>
        <button class="btn large" type="submit">Войти</button>
        
    </form>
    <script>
        function logout() {
            try {
                fetch('/logout', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },

                })

                    .catch(error => {
                        console.error(error);
                        alert(error);

                    });
            } catch (e) {
                alert(e);
            }
        }</script>

    <script src="/javascripts/signup.js"></script>

</body>

