<body>


    <!--<div class="fixed-action-btn">
        <button class="waves-effect waves-teal btn-flat" onclick='exit()'>
            Выйти
        </button>
    </div>-->
    <h1>Вход в систему</h1>
    <form id="loginForm">
        <div>
            <label for="username">Логин</label>
            <input type="text" id="worker_id" name="username" value="1">
        </div>
        <div>
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" value="4444">
        </div>
        <button class="btn large" type="submit">Войти</button>
    </form>

    
    <script src="/javascripts/read.js"></script>
    <!--<div class="center-align">
            <h2>ЛНК</h2>



            <form class="sign" id="loginForm">
                <div class="fieldset">
                    <input type="text" id="worker_id" name="worker_id" class="sign_textbox" required>
                    <label class="text-field__label">ID</label>
                </div>
                <div class="fieldset">
                    <input type="text" id="password" name="password" class="sign_textbox" required>
                    <label class="text-field__label">Пароль</label>
                </div>
                <button class="btn-large waves-effect waves-light btn-save" type="submit">
        Войти
    </button>
            </form>
            <script src="/javascripts/read.js"></script>


        </div>-->



</body>

